@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --color-primary: #efefef;
  --color-secondary: #b90000;
  --color-danger: rgb(145, 0, 0);
  --color-warning: rgb(234, 148, 0);
  --color-success: rgb(0, 255, 0);
  --color-black: #000;
  --color-white: #fff;
  --color-bg: #2d2d2d;
  --color-bg1: #0000d6cd;
  --color-bg2: #010d94dd;

  --container-sz-lg: 80%;
  --container-sz-md: 85%;
  --container-sz-sm: 90%;

  --transition: all 1s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--color-bg);
  color: var(--color-primary);
}

.main-container{
    max-width: var(--container-sz-lg);
    margin: 0 auto;
}
