header{
    height: 30vh;
}
@keyframes glowWord {
    0%{
        color: var(--color-black);
    }
    50%{
        color: var(--color-danger);
    }
    100%{
        color: var(--color-black);
    }
}
#addFormButton{
    font-size: 1.2rem;
    animation: glowWord;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}