header{
    height: 30vh;
}
@keyframes glowWord {
    0%{
        color: var(--color-black);
    }
    50%{
        color: var(--color-danger);
    }
    100%{
        color: var(--color-black);
    }
}
#addFormButton{
    font-size: 1.2rem;
    font-weight: 900;
    
}
.disabled{
    animation: glowWord;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes transition {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.header-container{
    width: var(--container-sz-lg);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#msg{
    animation: transition;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}