.motto{
    position: absolute;
    top: 35%;
    right: 15%;
}
.motto h3{
    padding: 1rem;
    font-size: 25px;
}

#msg1{
    opacity: 0;
    animation: appear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}
#msg2{
    opacity: 0;
    animation: appear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}
#msg3{
    opacity: 0;
    animation: appear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 9s;    
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#banner{
    position: absolute;
    height: 80%;
    top: 10%;
    left: 30%;
}

#time{
    position: absolute;
    top: 10%;
    right: 18%;
    text-align: center;
    font-size: 1.2rem;
}

.square{
    position: absolute;
    top: 26%;
    left: 32.5%;
    width: 20px;
    height: 20px;
    background: red;
}


@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#square1{
    opacity: 0;
    animation: appear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}
#square2{
    opacity: 0;
    top: 36.7%;
    animation: appear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}
#square3{
    opacity: 0;
    top: 47.5%;
    animation: appear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 9s;
}
#square4{
    opacity: 0;
    top: 60.4%;
    animation: appear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 11s;
}
#square5{
    opacity: 0;
    top: 72.8%;
    animation: appear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 13s;
}