nav{
    background: var(--color-bg1);
    border-left: 3px solid var(--color-bg1);
    border-right: 3px solid var(--color-bg1);
    /* box-shadow: 0 12px 20px var(--color-white); */
    position: fixed;
    top: 0;
    min-width: var(--container-sz-lg);
    z-index: 1;
}
.nav-container{
    margin: 0 .5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.nav-container > a:visited{
    color: var(--color-primary);
}
.nav-menu{
    display: flex;
    gap: 3rem;
}

.nav-menu a{
    color: var(--color-primary);
}

.nav-menu a:hover{
    border-bottom: 2px solid var(--color-primary);
}
#addBtn{
    background: var(--color-danger);
    padding: 1rem;
}
#addBtn:hover{
    background: var(--color-success);
    color: black;
    font-weight: 900;
}